/* Defaults */
:root {
  --white: #FFF;
  --font-color-link: #57a6ff;
  --footer-base: #2e2b45;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;
}

html { scroll-behavior: smooth;}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--white);
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p { margin: 0; }

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 640px;
  text-align: center;
  border: 1px solid var(--footer-base);
  background: #1F2937;
}

.btn {
  display: inline-block;
  width: 115px;
  color: var(--footer-base);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--font-color-link);
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

.btn-primary {
  background-image: linear-gradient(90deg, var(--grad-1) 0%, var(--grad-2) 100%);
  border: 1px solid var(--grad-1);
  transition: ease-in-out 0.3s;
  color: var(--footer-base);
  padding: 7px 18px;
}

/* Styles */

.title-wrapper {
  background: #6943FF;
  padding: 20px 0;
}

.display-block,
.display-block > input {
  width: 115px;
  height: 80px;
  border: 1px solid #B295FF;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  background: transparent;
  font-size: 40px;
  color: var(--white);
  text-align: center;
}

.display-block > input:focus {
  outline: none;
}

.hero-wrapper {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  margin: 30px auto;
  background: #273549;
}

.list {
  font-weight: 600;
  font-size: 20px;
  color: #CCC1FF;
  padding: 25px;
}

.conversion {
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  padding: 5px;
}




/* Mobile */
@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}